@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header {
    height: 24.6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    padding: 0 40px;
    img {
        width: 15.3vw;
        height: 14.2vh;
    }
    .botoesHeader {
        display: flex;
        gap: 20px;
        .botaoAcessar {
            background-color: #DF0712;
            color: #fff;
            width: 10.8vw;
            height: 6vh;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            transition: transform 0.3s 
        }
        .botaoEntrar {
            background-color: transparent;
            color: #fff;
            width: 10.8vw;
            height: 6vh;
            border-radius: 8px;
            border: 1px solid #fff;
            cursor: pointer;
            transition: transform 0.3s 
        }
        button:hover {
            transform: scale(1.1)
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: #181818fa;
}

.firstSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    margin: 40px 0 0 0;
    .episodios {
        width: 30vw;
        h2 {
            color: white;
            font-size: 2.5rem;
            overflow: hidden;
            border-right: 1px solid white;
            animation: animacao 2s steps(20, end) forwards, piscar 0.75s step-end infinite;
        }
        @keyframes animacao {
            from { width: 0; }
            to { width: 44%; } 
          }
          @keyframes piscar {
            from { border-color: transparent; }
            50% { border-color: white; }
        }
        p {
            font-size: 2rem;
            font-weight: 500;
            color: white;
        }
    }
    .imagem img {
        width: 7vw;
    }
}

.secondSection {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    article {
        width: 20vw;
        margin: 1rem 0;
        img {
            width: 20vw;
            transition: transform 0.3s ease-in-out; 
        }
        img:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 10px white;
        }
        h3 {
            font-size: 16px;
            font-weight: bold;
            color: white;
            padding-top: 5px;
        }
        p {
            margin-top: 14px;
            font-size: 14px;
            color: white;
        }
    }
}

.rodape {
    height: 14vh;
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: #111111;
    padding: 0 40px;
    margin-top: 60px;
    a {
        text-decoration: none;
        color: #fff;
    }
}